# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS
macos/Pods/
macos/.symlinks/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
